<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wm.com.danteater" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemen" >
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".my_plays.DrawerActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".app.PlayTabActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_play_tab" >
        </activity>

        <activity

            android:name=".my_plays.OrderPlayActivityForPerformNew"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_play_tab" >
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".my_plays.ShareActivityForPerform"
            android:label="@string/title_activity_play_tab" >
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".my_plays.ShareActivityForPreview"
            android:label="@string/title_activity_play_tab" >
        </activity>
        <activity
            android:name=".guide.GuideStartup"
            android:label="@string/title_activity_guide_startup" >
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".my_plays.ReadActivityFromPreview"
            android:label="@string/title_activity_read_activity_from_preview" >
        </activity>
        <activity
            android:name=".excercise.VideoPlay"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_guide_startup" >
        </activity>
        <activity
            android:name=".tab_info.PlayInfoActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="PlayInfoActivity"
            >
        </activity>
        <activity
            android:name=".tab_music.ReadChord"
            android:label="ReadChordActivity" >
        </activity>
    </application>

</manifest>
