<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wm.com.danteater" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:name="wm.com.danteater.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemen" >
        <activity
            android:name="wm.com.danteater.login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wm.com.danteater.my_plays.DrawerActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
